*, after, before {
  margin: 0;
  pading: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(46rem, 136rem) [content-end] 1fr [full-end];
  grid-template-rows: 7rem 20rem;
}

.header {
  grid-column: content-start/content-end;
  grid-row: 1/2;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid gray;
}

.avatar__image {
  width: 5rem;
  height: 5rem;
}

.logo {
  font-size: 2rem;
}
.logo__title {
  color: red;
}
.logo__title-span {
  color: blue;
}

.search {
  grid-column: content-start/content-end;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-block {
  padding: 1rem;
  width: 48%;
}
.search-block__title {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}
.search-block__query {
  width: 80%;
  height: 2.5rem;
}
.search-block__label {
  font-size: 1.6rem;
}