.header
    grid-column: content-start / content-end
    grid-row: 1 / 2
    padding: 1rem
    display: flex
    justify-content: space-between
    border-bottom: 1px solid gray
    //background-color: red
.avatar
    &__image
        width: 5rem
        height: 5rem
.logo
    font-size: 2rem
    &__title
        color: red
    &__title-span
        color: blue
.search
    grid-column: content-start / content-end
    grid-row: 2 / 3
    display: flex 
.search-block
    padding: 1rem
    width: 48%
    &__title
        font-size: 3.2rem
        margin-bottom: 1.2rem
    &__query
        width: 80%
        height: 2.5rem
    &__label
        font-size: 1.6rem