
<style type="text/css">
	@page { size: 21cm 29.7cm; margin: 2cm }
	.instruction p { line-height: 115%; margin-bottom: 0.25cm; background: transparent }
	.instruction img{ margin-right: 2000px;}
</style>

<div class='instruction' style=" grid-column: 2 / 3; grid-row: 2 / 3;  padding: 2rem;">
<p align="center" style="line-height: 100%; margin-bottom: 0cm">
<font size="5" style="font-size: 20pt">Инструкция</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm">
	<img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_c753cb32.png" style="margin-right: 1000px;" name="Изображение1" align="left" width="346" height="52" border="0"/>
</p>
<br/>

<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>

<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Кликнув
на логотип, вы попадете на главную
страницу сайта.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_f975e8d8.png" name="Изображение8" align="left" width="306" height="69" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>

<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Под
логотипом, находится элемент, который
показывает текущий выбранный город. Но
элемент «город» находится не на каждой
странице сайта. На главной странице
показываются бартера в том городе
которой выбран. Для того чтобы сменить
город нужно кликнуть на элементе «город»
и появится окно выбора города. Следующего
вида:</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_1298d60b.png" name="Изображение9" align="left" width="636" height="364" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>


</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Если
предложенные города вас не устраивают,
то начните вводить название города
который вы хотите в поле для ввода. И
система будет предлагать вам варианты.
Для того чтобы установить нужный  город
необходимо кликнуть на предложенный
вариант.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_8d1f9e46.png" name="Изображение2" align="left" width="70" height="68" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Этот
значок значит, что пользователь не
авторизован в системе.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_15a1676f.png" name="Изображение3" align="left" width="64" height="57" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>


<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">А,
этот значит что пользователь авторизован.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Кликнув
по значке пользователя, появится главное
меню сайта.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_69e7b0f.png" name="Изображение4" align="left" width="263" height="270" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>


</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Вот
такого плана. Если пользователь не
авторизован то в меню будет всего 2
варианта: вход и регистрация. </font>
</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt"><b>Регистрация</b> </font>
</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm">
	<img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_67174957.png" name="Изображение5" align="left" width="362" height="443" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>




</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Это
форма регистрации. На неё можно попасть,
через главное меню, если пользователь
не авторизован. Рамка красного цвета
вокруг поля ввода значит что в это поля
данные введены не верно.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_a2fee32.png" name="Изображение6" align="left" width="342" height="434" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>



</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Зеленый
цвет вокруг поля, значит что данные
введены верно. Имя и фамилию обязательно
нужно вводить с большой буквы. В них
должно быть минимум 2 символа. Пароль
может быть любым. Но его длина должна
составлять минимум 7 знаков.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt"><b>Страница
новый бартер</b></font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><img src="%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F%20%D0%BA%20%D0%B1%D0%B0%D1%80%D1%82%D0%B5%D1%80-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_html_937b3c0c.png" name="Изображение7" align="left" width="244" height="431" border="0"/>
<br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>


<p align="left" style="line-height: 100%; margin-bottom: 0cm"><font size="4" style="font-size: 14pt">Красной
рамкой обозначены поля для обязательного
ввода. В названии должно быть минимум
3 символа. А, в описании должно быть
минимум 20 символов текста.</font></p>
<p align="left" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<font size="4" style="font-size: 14pt"><b>Поиск</b></font></p>

<p style="font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0cm; text-decoration: none">
<font size="4" style="font-size: 14pt">Поиск работает по
принципу фильтрации. Результаты поиска
соответствуют сразу всем введенным
данным. Если нажать на галочку «получить
даром», то выводится те бартера автор
которых, хочет отдать даром. А поля
«название» и «категория» в блоке
«получаю», становятся не активными. </font>
</p>
<p style="font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<p style="font-style: normal; line-height: 100%; margin-bottom: 0cm; text-decoration: none">
<font size="4" style="font-size: 14pt"><b>Как связаться с
автором</b></font></p>

<p style="font-style: normal; line-height: 100%; margin-bottom: 0cm; text-decoration: none">
<font size="4" style="font-size: 14pt"><span style="font-weight: normal">Для
того что бы связаться с автором бартера,
в системе есть мессанджер. Для того
чтобы написать автору бартера, необходимо
перейти на страницу «бартер» и найти
кнопку «написать», возле элемента «автор
бартера». </span><span style="font-weight: normal">И
кликнуть на кнопке. И вы попадете на
страницу мессанджер, с открытой перепиской
с автором бартера. Скорее всего переписка
будет пустой. В случае если вы ранее не
переписывались с автором бартера.</span><span style="font-weight: normal">
</span></font>
</p>
</div>
