{{!-- <!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 26.2.0.3 (Linux)"/>
	<meta name="created" content="2026-03-26T13:03:21.340521170"/>
	<meta name="changed" content="2026-03-27T13:27:52.637749924"/>
	<style type="text/css">
		@page { size: 8.27in 11.69in; margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
	</style>
</head> --}}
<div lang="ru-RU" link="#000080" vlink="#800000" dir="ltr" style="grid-column: 2 / 3;">
<p align="center" style="margin-bottom: 0in; line-height: 100%">
<font size="5" style="font-size: 20pt">Инструкция</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_87f6e252.png" name="Изображение1" align="left" width="346" height="52" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Кликнув
на логотип, вы попадете на главную
страницу сайта.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_f81db911.png" name="Изображение8" align="left" width="306" height="69" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Под
логотипом, находится элемент, который
показывает текший выбранный город. Но
элемент «город» находится не на каждой
странице сайта. На главной странице
показываются бартера в том городе
которой выбран. Для того чтобы сменить
город нужно кликнуть на элементе «город»
и появится окно выбора города. Следующего
вида:</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_ce125823.png" name="Изображение9" align="left" width="636" height="364" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Если
предложенные города вас не устраивают,
то начните вводить название города
который вы хотите в поле для ввода. И
система будет предлагать вам варианты.
Для того чтобы установить нужный  город
необходимо кликнуть на предложенный
вариант.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_c193ab27.png" name="Изображение2" align="left" width="70" height="68" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Этот
значок значит, что пользователь не
авторизован в системе.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_851f0585.png" name="Изображение3" align="left" width="64" height="57" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">А,
этот значит что пользователь авторизован.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Кликнув
по значке пользователя, появится главное
меню сайта.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_702523ed.png" name="Изображение4" align="left" width="263" height="270" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Вот
такого плана. Если пользователь не
авторизован то в меню будет всего 2
варианта: вход и регистрация. </font>
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_2b92a565.png" name="Изображение5" align="left" width="362" height="443" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Это
форма регистрации. На неё можно попасть,
через главное меню, если пользователь
не авторизован. Рамка красного цвета
вокруг поля ввода значит что в это поля
данные введены не верно.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_a336ea20.png" name="Изображение6" align="left" width="342" height="434" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Зеленый
цвет вокруг поля, значит что данные
введены верно. Имя и фамилию обязательно
нужно вводить с большой буквы. В них
должно быть минимум 2 символа. Пароль
может быть любым. Но его длина должна
составлять минимум 7 знаков.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Страница
новый бартер.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><img src="0954a6b50faf023265987174d9cfff14_html_8c072c09.png" name="Изображение7" align="left" width="244" height="431" border="0"/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 14pt">Красной
рамкой обозначены поля для обязательного
ввода. В названии должно быть минимум
3 символа. А, в описании должно быть
минимум 20 символов текста.</font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<font size="4" style="font-size: 14pt"><b>Поиск</b></font></p>
<p style="font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<br/>

</p>
<p style="font-weight: normal; font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<font size="4" style="font-size: 14pt">Поиск работает по
принципу фильтрации. Результаты поиска
соответствуют сразу всем введенным
данным. Если нажать на галочку «получить
даром», то выводится те бартера автор
которых, хочет отдать даром. А поля
«название» и «категория» в блоке
«получаю», становятся не активными. </font>
</p>
<p style="font-weight: normal; font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<br/>

</p>
<p style="font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<font size="4" style="font-size: 14pt"><b>Как связаться с
автором</b></font></p>
<p style="font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<br/>

</p>
<p style="font-style: normal; margin-bottom: 0in; line-height: 100%; text-decoration: none">
<font size="4" style="font-size: 14pt"><span style="font-weight: normal">Для
того что бы связаться с автором бартера,
в системе есть мессанджер. Для того
чтобы написать автору бартера, необходимо
перейти на страницу «бартер» и найти
кнопку «написать», возле элемента «автор
бартера». </span><span style="font-weight: normal">И
кликнуть на кнопке. И вы попадете на
страницу мессанджер, с открытой перепиской
с автором бартера. Скорее всего переписка
будет пустой. В случае если вы ранее не
переписывались с автором бартера.</span></font></p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</div>
{{!-- </html> --}}