{{!-- <div class="header-container">     --}}
    <div class="header">
        <div class="header__logoAndCity" >
            <div class="logo" id="logo">
                <h1 class="logo__title">BARTER 
                <span class="logo__title-span">ONLINE</span>
                </h1>
            </div>
            <h4 class="header__city">Москва</h4>
        </div>
        <div class="avatar" id="avatar">
            <img src="/img/avatar.png" alt="" class="avatar__image">
            <div class="main-menu" id="main-menu">
                <div class="main-menu__container-close">
                    <div class="main-menu__close" id="close-main-menu">
                        <img src="/img/close_icon.png" alt="close main menu" class="main-menu__close-img">
                    </div>  
                </div>
                <ul class="main-menu__list">
                    <li class="main-menu__item" id="signIn_mainMenu">Вход</li>
                    <li class="main-menu__item" id="registration_mainMenu">Регистрация</li>
                </ul>
            </div>

        </div>
    </div>
{{!-- </div> --}}