{{!-- <div class="header-container">     --}}
    <div class="header">
        <div class="header__logoAndCity">
            <div class="logo">
                <h1 class="logo__title">BARTER 
                <span class="logo__title-span">ONLINE</span>
            </h1>
            </div>
            <h4 class="header__city">Москва</h4>
        </div>
        <div class="avatar">
            <img src="img/avatar.png" alt="" class="avatar__image">
        </div>
    </div>
{{!-- </div> --}}