   <div class="result">
            
            
    </div>
    <div class="result-item result-item_display-none">
        <div class="stuff stuff-get">
            <h5 class="stuff__intension">Хочу получить</h5>
            <div class="stuff__cont">
                <h3 class="stuff__name">default</h3>
                <img src="imgUser/car2.png" alt="" class="stuff__img">
                <p class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                </p>
            </div>
        </div>
        <img src="img/exchange-icon.png" alt="" class="result-item__exchange-icon">
        <div class="stuff stuff-give">
            <h5 class="stuff__intension">Отдаю</h5>
            <div class="stuff__cont">
                <h3 class="stuff__name">default</h3>
                <img src="imgUser/car.jpg" alt="" class="stuff__img">
                <div class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                </div>
                    </p>
            </div>
        </div>
    </div>
</div>