<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <script src="/script/function.js" type="text/javascript"></script>
        <script src="/script/script.js" type="text/javascript"></script>
        <script src="/script/experement.js" type="text/javascript"></script>
        <title>Barter Online</title>
    </head>
    <body>
        <div class="container">
            {{> header}}
            {{{body}}}
        </div>
    </body>
</html>