<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <script src="script/script.js"></script>
        <title>Barter Online</title>
    </head>
    <body>
        <div class="container">
            {{> header}}
            {{{body}}}
        </div>

    {{!-- <div class="container">
        <div class="header">
            <div class="header__logoAndCity">
                <div class="logo">
                    <h1 class="logo__title">BARTER 
                    <span class="logo__title-span">ONLINE</span>
                </h1>
                </div>
                <h4 class="header__city">Москва</h4>
            </div>
            <div class="avatar">
                <img src="img/avatar.png" alt="" class="avatar__image">
            </div>
        </div>
        <div class="search">
            <div class="search-content">
                <div class="search-block search-give search-block_border-right">
                    <h3 class="search-block__title">Отдать</h3>
                    <form action="" class="search-block__form">
                        <lebel class="search-block__label-query" for="query-search-1">Введете название</lebel>
                        <br>
                        <input type="text" class="search-block__query" id="query-search-1" placeholder="наименование">
                        <label for="category-1" class="search-block__label-category">Выберите категорию</label>
                        <br>
                        <select name="category-1" id="category-1" class="search-block__select">
                            <option value="1" class="search-block__option" selected>Все категории</option>
                            <option value="2" class="search-block__option">квартиры</option>
                            <option value="2" class="search-block__option">машины</option>
                            <option value="2" class="search-block__option">компьютеры</option>
                            <option value="2" class="search-block__option">одежда</option>
                        </select>
                        <br>
                        <input type="checkbox" id="checkbox-free" class="search-block__checkbox">
                        <label for="checkbox-free" class="search-block__label-checkbox">Получить даром</label>

                    </form>
                </div>
                <div class="search-block search-get">
                    <h3 class="search-block__title">Получить</h3>
                    <form action="" class="search-block__form">
                        <lebel class="search-block__label-query" for="query-search-2">Введете название</lebel>
                        <!-- <br> -->
                        <input type="text" class="search-block__query" id="query-search-2" placeholder="наименование">
                        <label for="category-2" class="search-block__label-category">Выберите категорию</label>
                        <br>
                        <select name="category-2" id="category-2" class="search-block__select">
                            <option value="1" class="search-block__option" selected>Все категории</option>
                            <option value="2" class="search-block__option">квартиры</option>
                            <option value="2" class="search-block__option">машины</option>
                            <option value="2" class="search-block__option">компьютеры</option>
                            <option value="2" class="search-block__option">одежда</option>
                        </select>
                    
                    </form>

                </div>
            </div>
            <button class="search__button">Найти</button>
        </div>
        <div class="result">
            <div class="result-item">
                <div class="stuff stuff-get">
                    <h3 class="stuff__intension">Хочу получить</h3>
                    <img src="imgUser/car2.png" alt="" class="stuff__img">
                    <p class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                    </p>
                </div>
                <img src="img/exchange-icon.png" alt="" class="result-item__exchange-icon">
                <div class="stuff stuff-give">
                    <h3 class="stuff__intension">Отдаю</h3>
                    <img src="imgUser/car.jpg" alt="" class="stuff__img">
                    <p class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                    </p>
                </div>
            </div>
        </div>
    </div> --}}
</body>
</html>