
        <div class="search">
            <div class="search-content">
                <div class="search-block search-give search-block_border-right">
                    <h3 class="search-block__title">Отдать</h3>
                    <form action="" class="search-block__form">
                        <lebel class="search-block__label-query" for="query-search-give">Введете название</lebel>
                        <br>
                        <input type="text" class="search-block__query" id="query-search-give" placeholder="наименование">
                        <label for="category-give" class="search-block__label-category">Выберите категорию</label>
                        <br>
                        <select name="category-give" id="category-give" class="search-block__select">
                            {{{categoryList}}}=
                        </select>
                        <br>
                        <input type="checkbox" id="checkbox-free" class="search-block__checkbox">
                        <label for="checkbox-free" class="search-block__label-checkbox">Получить даром</label>

                    </form>
                </div>
                <div class="search-block search-get">
                    <h3 class="search-block__title">Получить</h3>
                    <form action="" class="search-block__form">
                        <lebel class="search-block__label-query" for="query-search-get">Введете название</lebel>
                        <!-- <br> -->
                        <input type="text" class="search-block__query" id="query-search-get" placeholder="наименование">
                        <label for="category-get" class="search-block__label-category">Выберите категорию</label>
                        <br>
                        <select name="category-get" id="category-get" class="search-block__select">
                            {{{categoryList}}}
                        </select>
                    
                    </form>

                </div>
            </div>
            {{!-- search__button_disabled --}}
            <button class="search__button ">Найти</button>
        </div>
        <a href="newBarter" class="link-newBarter">Создать новый бартер</a>
        <div class="result">
            
            <div class="result-item">
                <div class="stuff stuff-get">
                    <h5 class="stuff__intension">Хочу получить</h5>
                    <div class="stuff__cont">
                        <h3 class="stuff__name">default</h3>
                        <img src="imgUser/car2.png" alt="" class="stuff__img">
                        <p class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                        </p>
                    </div>
                </div>
                <img src="img/exchange-icon.png" alt="" class="result-item__exchange-icon">
                <div class="stuff stuff-give">
                    <h5 class="stuff__intension">Отдаю</h5>
                    <div class="stuff__cont">
                        <h3 class="stuff__name">default</h3>
                        <img src="imgUser/car.jpg" alt="" class="stuff__img">
                        <div class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="question-city">
            <img src="img/close_icon.png" alt="img" class="question-city__close">
            <h3 class="question-city__text">Ваш город {{{cityStart}}}? </h3>
            <div class="question-city__cont">    
                <button class="question-city__ok">Да</button>
                <button class="question-city__select">Выбрать другой.</button>
            </div>
        </div>
        <script src="/script/index.js" type="text/javascript"></script>
        {{#if dataCity}}
            <script>
                setTimeout(function(){
                   document.querySelector('.question-city').style.display='block';
                },500) 
                    
            </script>
        {{else}}
           <script>
                //setTimeout(function(){
                   document.querySelector('.question-city').style.display='none';
                //},500) 
                    
            </script> 
        {{/if}}
    {{!-- </div> --}}