
        <div class="search">
            <div class="search-content">
                <div class="search-block search-give search-block_border-right">
                    <h3 class="search-block__title">Отдать</h3>
                    <form action="" class="search-block__form">
                        <lebel class="search-block__label-query" for="query-search-1">Введете название</lebel>
                        <br>
                        <input type="text" class="search-block__query" id="query-search-1" placeholder="наименование">
                        <label for="category-give" class="search-block__label-category">Выберите категорию</label>
                        <br>
                        <select name="category-give" id="category-give" class="search-block__select">
                            {{{categoryList}}}=
                        </select>
                        <br>
                        <input type="checkbox" id="checkbox-free" class="search-block__checkbox">
                        <label for="checkbox-free" class="search-block__label-checkbox">Получить даром</label>

                    </form>
                </div>
                <div class="search-block search-get">
                    <h3 class="search-block__title">Получить</h3>
                    <form action="" class="search-block__form">
                        <lebel class="search-block__label-query" for="query-search-2">Введете название</lebel>
                        <!-- <br> -->
                        <input type="text" class="search-block__query" id="query-search-2" placeholder="наименование">
                        <label for="category-get" class="search-block__label-category">Выберите категорию</label>
                        <br>
                        <select name="category-get" id="category-get" class="search-block__select">
                            {{{categoryList}}}
                        </select>
                    
                    </form>

                </div>
            </div>
            <button class="search__button">Найти</button>
        </div>
        <div class="result">
            <a href="newBarter" class="link-newBarter">Создать новый бартер</a>
            <div class="result-item">
                <div class="stuff stuff-get">
                    <h3 class="stuff__intension">Хочу получить</h3>
                    <img src="imgUser/car2.png" alt="" class="stuff__img">
                    <p class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                    </p>
                </div>
                <img src="img/exchange-icon.png" alt="" class="result-item__exchange-icon">
                <div class="stuff stuff-give">
                    <h3 class="stuff__intension">Отдаю</h3>
                    <img src="imgUser/car.jpg" alt="" class="stuff__img">
                    <p class="stuff__paragraph">Лада x-ray в хорошем состоянии. В полной комплектации. Срок эксплутации 3 года. 
                    </p>
                </div>
            </div>
        </div>
    {{!-- </div> --}}