<div class="messanger">
    {{!-- блок контактов --}}
    <div class="contact-select">
        <h1 class="contact-select__noContact" id="noContact">У вас нет переписок!</h1>
            {{!-- <div class="contact">
                <div class="contact__avatar" >
                    <div class="contact__literal" >
                        <span></span>
                    </div>
                </div>
                <div class="contact__cont">

                    <h2 class="contact__name"></h2>
                    <p class="contact__preview-text new-message"></p>
                </div>
            </div> --}}
       
        {{!-- <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Владимир Костенко
                </h2>
                <p class="contact__preview-text new-message">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Сергей Кутькин
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Владимир Костенко
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Сергей Кутькин
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Владимир Костенко
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Сергей Кутькин
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Владимир Костенко
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Сергей Кутькин
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div> --}}
        
    </div>
    {{!-- блок сообшения --}}
    <div class="text-block">
        <div class="text-block__info">
            <img src="img/back.png" alt="" class="text-block__info-back" style="display: none">
            <div class="text-block__info-cont">
                <h3 class="text-block__info-name">{{nameSurname}}</h3>
                <h3 class="text-block__info-give">{{give_name}}</h3>
            </div>
            <img src="img/menu-img.png" alt="" class="text-block__info-menu">
        </div>
        <div class="text-block__cont-hidden">

            
            <div class="text-block__flex-cont">
                <h2 class="text-block__noMessage" id="noMessage">Выберите переписку, чтобы увидеть сообшения.</h2>
                <div class="text-block__cont">
                    
                    {{!-- <div class="text-item noaim-send">
                        <p class="text-item__message">
                            Доброго, светлого, наполненного яркими красками утра и дня всем нам!!💛🕊️🌞🔥✨🤗💃🏻🕺🏻🪷❄️🪄☃️🎸
                            Если ты не возьмешься за жизнь всерьез, то она всерьез возьмется за тебя. Дни будут складываться в недели, а недели – в годы, и ты не заметишь, как жизнь пройдет впустую. Не позволяй себе попусту потратить главное сокровище – жизнь.
                        </p>
                        <div class="text-item__data">
                            <p class="text-item__data-time">12:12</p>
                            <img src="img/twogall.png" alt="" class="text-item__data-status">
                        </div>
                    </div> --}}
                    {{!-- <div class="text-item aim-send">
                        <p class="text-item__message">
                            Доброго, светлого, чудесного, волшебного, красочного утра и дня всем нам!💓🕺🏻💃🏻🤗✨🔥🎸🌞🕊️☃️❄️🪄🪷
                            Чтобы сделать жизнь счастливой, нужно любить повседневные мелочи. В каждом мгновении таится бесконечный потенциал...
                        </p>
                        <div class="text-item__data">
                            <p class="text-item__data-time">12:12</p>
                            <img src="img/twogall.png" alt="" class="text-item__data-status">
                        </div>
                    </div>
                    <div class="day-item">
                        <div class="day-item__cont">
                            <p class="day-item__value">1 января 2026</p>
                        </div>
                    </div>
                    <div class="text-item noaim-send">
                        <p class="text-item__message">
                            Доброго, светлого, наполненного яркими красками утра и дня всем нам!!💛🕊️🌞🔥✨🤗💃🏻🕺🏻🪷❄️🪄☃️🎸
                            Если ты не возьмешься за жизнь всерьез, то она всерьез возьмется за тебя. Дни будут складываться в недели, а недели – в годы, и ты не заметишь, как жизнь пройдет впустую. Не позволяй себе попусту потратить главное сокровище – жизнь.
                        </p>
                        <div class="text-item__data">
                            <p class="text-item__data-time">12:12</p>
                            <img src="img/twogall.png" alt="" class="text-item__data-status">
                        </div>
                    </div>

                    <div class="day-item">
                        <div class="day-item__cont">
                            <p class="day-item__value">12 февраля 2026</p>
                        </div>
                    </div>
                    
                    <div class="text-item aim-send">
                        <p class="text-item__message">
                            Доброго, светлого, чудесного, волшебного, красочного утра и дня всем нам!💓🕺🏻💃🏻🤗✨🔥🎸🌞🕊️☃️❄️🪄🪷
                            Чтобы сделать жизнь счастливой, нужно любить повседневные мелочи. В каждом мгновении таится бесконечный потенциал...
                        </p>
                        <div class="text-item__data">
                            <p class="text-item__data-time">12:12</p>
                            <img src="img/twogall.png" alt="" class="text-item__data-status">
                        </div>
                    </div>--}}
                </div> 
                <div class="text-block__cont2">
                </div>
            </div>
        </div>

    </div>
    <div class="input-block">
        <div contenteditable="true" id="send-input" name="send_input"
                class="input-block__input" style="min-height:40px; max-height: 15rem;   overflow:auto;">
                
                
        </div>  
        <img src="/img/send_message.png" alt="img send" 
            id="buttonSendMessage" class="input-block__button-img">
    </div>
</div>
   <div class="contact-model" style="display: none">
        <div class="contact__avatar" >
            <div class="contact__literal" >
                <span></span>
            </div>
        </div>
        <div class="contact__cont">

            <h2 class="contact__name"></h2>
            <p class="contact__preview-text new-message"></p>
        </div>
        <div class="contact__count-messages">+1</div>
    </div>
    <div class="text-item noaim-send" style="display: none">
        <p class="text-item__message">
            Доброго, светлого, наполненного яркими красками утра и дня всем нам!!💛🕊️🌞🔥✨🤗💃🏻🕺🏻🪷❄️🪄☃️🎸
            Если ты не возьмешься за жизнь всерьез, то она всерьез возьмется за тебя. Дни будут складываться в недели, а недели – в годы, и ты не заметишь, как жизнь пройдет впустую. Не позволяй себе попусту потратить главное сокровище – жизнь.
        </p>
        <div class="text-item__data">
            <p class="text-item__data-time">12:12</p>
            <img src="img/twogall.png" alt="" class="text-item__data-status">
        </div>
    </div>
    <div class="day-item" style="display: none">
        <div class="day-item__cont">
            <p class="day-item__value">12 февраля 2026</p>
        </div>
    </div>
    <button class="loadMoreMessages" id="loadMoreMessages">Загрузить еще сообщения</button>
<script src="script/messanger.js"></script>