<div class="messanger">
    {{!-- ะฑะปะพะบ ะบะพะฝัะฐะบัะพะฒ --}}
    <div class="contact-select">
        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะะปะฐะดะธะผะธั ะะพััะตะฝะบะพ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะกะตัะณะตะน ะัััะบะธะฝ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะะปะฐะดะธะผะธั ะะพััะตะฝะบะพ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะกะตัะณะตะน ะัััะบะธะฝ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะะปะฐะดะธะผะธั ะะพััะตะฝะบะพ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะกะตัะณะตะน ะัััะบะธะฝ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะะปะฐะดะธะผะธั ะะพััะตะฝะบะพ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>

        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>C</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    ะกะตัะณะตะน ะัััะบะธะฝ
                </h2>
                <p class="contact__preview-text">ะฃ ัะตะฑั ะบัััะฐั ะฒะธะดะตะพะบะฐััะฐ, ั ัะพัั ะตะต ะพะฑะผะตะฝััั ะฝะฐ ะะ</p>
            </div>
        </div>
        
    </div>
    {{!-- ะฑะปะพะบ ัะพะพะฑัะตะฝะธั --}}
    <div class="text-block">
        <div class="text-block__info">
            <img src="img/back.png" alt="" class="text-block__info-back">
            <h3 class="text-block__info-name">ะะปะฐะดะธะผะธั ะะพััะตะฝะบะพ</h3>
        </div>
        <div class="text-block__cont">

        
            <div class="text-item noaim-send">
                <p class="text-item__message">
                    ะะพะฑัะพะณะพ, ัะฒะตัะปะพะณะพ, ะฝะฐะฟะพะปะฝะตะฝะฝะพะณะพ ััะบะธะผะธ ะบัะฐัะบะฐะผะธ ัััะฐ ะธ ะดะฝั ะฒัะตะผ ะฝะฐะผ!!๐๐๏ธ๐๐ฅโจ๐ค๐๐ป๐บ๐ป๐ชทโ๏ธ๐ชโ๏ธ๐ธ
                    ะัะปะธ ัั ะฝะต ะฒะพะทัะผะตัััั ะทะฐ ะถะธะทะฝั ะฒัะตััะตะท, ัะพ ะพะฝะฐ ะฒัะตััะตะท ะฒะพะทัะผะตััั ะทะฐ ัะตะฑั. ะะฝะธ ะฑัะดัั ัะบะปะฐะดัะฒะฐัััั ะฒ ะฝะตะดะตะปะธ, ะฐ ะฝะตะดะตะปะธ โ ะฒ ะณะพะดั, ะธ ัั ะฝะต ะทะฐะผะตัะธัั, ะบะฐะบ ะถะธะทะฝั ะฟัะพะนะดะตั ะฒะฟััััั. ะะต ะฟะพะทะฒะพะปัะน ัะตะฑะต ะฟะพะฟัััั ะฟะพััะฐัะธัั ะณะปะฐะฒะฝะพะต ัะพะบัะพะฒะธัะต โ ะถะธะทะฝั.
                </p>
            </div>
            <div class="text-item aim-send">
                <p class="text-item__message">
                    ะะพะฑัะพะณะพ, ัะฒะตัะปะพะณะพ, ััะดะตัะฝะพะณะพ, ะฒะพะปัะตะฑะฝะพะณะพ, ะบัะฐัะพัะฝะพะณะพ ัััะฐ ะธ ะดะฝั ะฒัะตะผ ะฝะฐะผ!๐๐บ๐ป๐๐ป๐คโจ๐ฅ๐ธ๐๐๏ธโ๏ธโ๏ธ๐ช๐ชท
                    ะงัะพะฑั ัะดะตะปะฐัั ะถะธะทะฝั ััะฐััะปะธะฒะพะน, ะฝัะถะฝะพ ะปัะฑะธัั ะฟะพะฒัะตะดะฝะตะฒะฝัะต ะผะตะปะพัะธ. ะ ะบะฐะถะดะพะผ ะผะณะฝะพะฒะตะฝะธะธ ัะฐะธััั ะฑะตัะบะพะฝะตัะฝัะน ะฟะพัะตะฝัะธะฐะป...
                </p>
            </div>

            <div class="text-item noaim-send">
                <p class="text-item__message">
                    ะะพะฑัะพะณะพ, ัะฒะตัะปะพะณะพ, ะฝะฐะฟะพะปะฝะตะฝะฝะพะณะพ ััะบะธะผะธ ะบัะฐัะบะฐะผะธ ัััะฐ ะธ ะดะฝั ะฒัะตะผ ะฝะฐะผ!!๐๐๏ธ๐๐ฅโจ๐ค๐๐ป๐บ๐ป๐ชทโ๏ธ๐ชโ๏ธ๐ธ
                    ะัะปะธ ัั ะฝะต ะฒะพะทัะผะตัััั ะทะฐ ะถะธะทะฝั ะฒัะตััะตะท, ัะพ ะพะฝะฐ ะฒัะตััะตะท ะฒะพะทัะผะตััั ะทะฐ ัะตะฑั. ะะฝะธ ะฑัะดัั ัะบะปะฐะดัะฒะฐัััั ะฒ ะฝะตะดะตะปะธ, ะฐ ะฝะตะดะตะปะธ โ ะฒ ะณะพะดั, ะธ ัั ะฝะต ะทะฐะผะตัะธัั, ะบะฐะบ ะถะธะทะฝั ะฟัะพะนะดะตั ะฒะฟััััั. ะะต ะฟะพะทะฒะพะปัะน ัะตะฑะต ะฟะพะฟัััั ะฟะพััะฐัะธัั ะณะปะฐะฒะฝะพะต ัะพะบัะพะฒะธัะต โ ะถะธะทะฝั.
                </p>
            </div>
            <div class="text-item aim-send">
                <p class="text-item__message">
                    ะะพะฑัะพะณะพ, ัะฒะตัะปะพะณะพ, ััะดะตัะฝะพะณะพ, ะฒะพะปัะตะฑะฝะพะณะพ, ะบัะฐัะพัะฝะพะณะพ ัััะฐ ะธ ะดะฝั ะฒัะตะผ ะฝะฐะผ!๐๐บ๐ป๐๐ป๐คโจ๐ฅ๐ธ๐๐๏ธโ๏ธโ๏ธ๐ช๐ชท
                    ะงัะพะฑั ัะดะตะปะฐัั ะถะธะทะฝั ััะฐััะปะธะฒะพะน, ะฝัะถะฝะพ ะปัะฑะธัั ะฟะพะฒัะตะดะฝะตะฒะฝัะต ะผะตะปะพัะธ. ะ ะบะฐะถะดะพะผ ะผะณะฝะพะฒะตะฝะธะธ ัะฐะธััั ะฑะตัะบะพะฝะตัะฝัะน ะฟะพัะตะฝัะธะฐะป...
                </p>
            </div>
        </div>
        <div class="input-block">
            <div contenteditable="true" id="send-input" name="send_input"
                    class="input-block__input" style="min-height:40px; max-height: 15rem;   overflow:auto;">
                   
                    
            </div>  
            <img src="/img/send_message.png" alt="img send" class="input-block__button-img">
        </div>
    </div>
</div>
<script src="script/messanger.js"></script>