<div class="messanger">
    <div class="contact-select">
        <div class="contact">
            <div class="contact__avatar">
                <div class="contact__literal">
                    <span>K</span>
                </div>
            </div>
            <div class="contact__cont">

                <h2 class="contact__name">
                    Владимир Костенко
                </h2>
                <p class="contact__preview-text">У тебя крутая видеокарта, я хочу ее обменять на ПК</p>
            </div>
        </div>
        
    </div>
    <div class="text-block">

    </div>
</div>