<div class="newBarter">

    <form action="/saveBarter/" id="newBarterForm" class="newBarter__form" method="POST" enctype="multipart/form-data">
        <h1 class="newBarter__title">Создание нового бартера</h1>

        <div class="newBarter-give new-stuff">
            <div class="new-stuff__container">
                <h3 class="new-stuff__title">Хочу отдать</h3>
                {{!-- <form action="" class="new-stuff__form"> --}}
                <label for="newStuff__giveName" class="new-stuff__label-name">Название</label>
                <br>
                <input type="text" id="newStuff__giveName" name="newStuff__giveName" class="new-stuff__name">
                <br>
                <label for="category-load-give" class="new-stuff__label-category">Выберите категорию</label>
                <br>
                <select name="category-load-give" id="category-load-give" class="new-stuff__category">
                    {{{categoryList}}}
                </select>
                <br>
                <label for="new-stuff__give-loadImg">Загрузите изображение</label>
                <br>
                <input type="file" id="give_loadImg" 
                    class="new-stuff__load-img"
                    name="give_loadImg"
                    accept="image/png, image/jpeg" />
                <br>
                <img src="img/default.jpg" id="img-give-preload" alt="" class="new-stuff__img-preload">
                <br>
                <label for="enter-give-description" class="new-stuff__label-descriptin">Введите описание</label>
                <br>
                <input type="hidden" name="textareaContent-give" class="new-stuff__description-input" 
                            id="newBarter-give-description-hidden" value="data">
                <div contenteditable="true" id="newBarter-give-description" class="new-stuff__description"
                    style="min-height:40px; max-height:200px; overflow:auto;">
                    {{!-- <input type="hidden" name="textareaContent-give" class="new-stuff__description-input" 
                            id="newBarter-give-description-hidden" value="data"> --}}
                    Разместите редактируемый текст здесь
                </div>  
            </div>
       
        </div>

        <div class="newBarter-get new-stuff">
            <div class="new-stuff__container">
                <h3 class="new-stuff__title">Хочу получить</h3>
               

                <input type="checkbox" id="new-stuff__get-checkbox" class="new-stuff__checkbox-free">
                <label for="new-stuff__get-checkbox" class="new-stuff__label-checkbox">Отдаю даром, ни чего не хочу получить</label>
                <br>
                <label for="newStuff__getName" class="new-stuff__label-name">Название</label>
                <br>
                <input type="text" name="newStuff__getName" id="newStuff__getName" class="new-stuff__name">
                <br>
                <label for="category-load-get" class="new-stuff__label-category">Выберите категорию</label>
                <br>
                <select name="category-load-get" id="category-load-get" class="new-stuff__category">
                    {{{categoryList}}}
                </select>
                <br>
                <label for="new-stuff__get-loadImg">Загрузите изображение</label>
                <br>
                <input type="file" id="get_loadImg" 
                    class="new-stuff__load-img"
                    name="get_loadImg"
                    accept="image/png, image/jpeg" />
                <br>
                <img src="img/default.jpg" alt="" class="new-stuff__img-preload">
                <br>
                <label for="enter-get-description" class="new-stuff__label-descriptin">Введите описание</label>
                <br>
                <input type="hidden" name="textareaContent-get" id='newBarter-get-description-hidden'
                        class="new-stuff__description-input">
                {{!-- id="newBarter-give-description" --}}
                <div contenteditable="true" name="newBarter-get-description" id="newBarter-get-description" 
                        class="new-stuff__description" style="min-height:40px; max-height:200px; overflow:auto;">
                   
                    Разместите редактируемый текст здесь
                </div>  
            </div>
        
        </div>
        <input type="submit" class="newBarter__submit">
    </form>
    {{{result}}}
</div>