<div class="recoverPassword">
    <h1 class="recoverPassword__header">
        Востановление пароля
    </h1>
    <form action="/emailForRecoverPassword/"  method="POST" class="enterEmail">
        <label for="emailForRecover" class="enterEmail__label">Введете емайл</label>
        <br>
        <input type="text" class="enterEmail__email" id="emailForRecover" value="">
        <input type="submit" class="enterEmail__submit">
    </form>
</div>