<div class="recoverPassword">
    <h1 class="recoverPassword__header">
        Восстановление пароля
    </h1>
    <form action="/emailForRecoverPassword/"  method="POST" class="enterEmail">
        <label for="emailForRecover" class="enterEmail__label">Введите емайл</label>
        <br>
        <input type="text" class="enterEmail__email" id="emailForRecover" name="emailForRecover" value="">
        <input type="submit" class="enterEmail__submit">
    </form>
    <form action="/codeForRecoverPassword/" method="POST" class="enterCode">
        <p class="enterCode__text">
            На ваш емайл, который вы ввели отправлен код для смены пароля.
        </p>
        <label for="codeForRecover" class="enterCode__label">Введите код</label>
        <br>
        <input type="text" class="enterCode__code" id="codeForRecover" name="codeForRecover">
        <input type="submit" class="enterCode__submit">
        <br>
        <p class="timeCodeValid">Код действителен: <span>3:00</span></p>
    </form>
    <form action="/newPassword/" method="POST" class="newPassword">
        <label for="passwordRecover" class="newPassword__label1">Новый пароль</label>
        <br>
        <input type="password" class="newPassword__password" id="passwordRecover" name="passwordRecover">
        <br>
        <label for="passwordDoubleRecover" class="newPassword__label2">Повторите пароль</label>
        <br>
        <input type="password" class="newPassword__passwordDouble" id="passwordDoubleRecover" 
                name="passwordDoubleRecover">
        <br>
        <input type="submit" class="newPassword__submit">
        <br>
        <p class="timeCodeValid">Оставшиеся время: <span>3:00</span></p>
    </form>
</div>
  <script src="/script/recoverPassword.js" type="text/javascript"></script>