<div class="rules">
    <h1 class="rules__title">Правила сайта</h1>
    <P class="rules__paragraph rules__paragraph_text-1">
        На сайте нет модерации. Все ваши действия на ваш страх и риск. Будьте бдительны, 
        оставляя свои данные не знакомым людям. А также будьте вежливыми и культурными.
    </P>
    <h3 class="rules__title-3">
        На сайте запрешается:
    </h3>
    <ul class="rules__list">
        <li class="rules__item">Обмениваться оружием.</li>
        <li class="rules__item">Обмениваться наркотиками и психоактивными веществами.</li>
        <li class="rules__item">Использовать деньги любой валюты, а также криптовалюты.</li>
    </ul>
</div>