<div class="signIn">

    <form action="" class="signIn__form">
        <p class="signIn__title">Добро пожаловать</p>
        <label for="signInLogin" class="signIn__label-login">Введете email</label>
        <br>
        <input type="text" id="signInLogin" class="signIn__login" placeholder="ваш email">
        <br>
        <label for="signInPassword" class="signIn__label-password">Введете email</label>
        <br>
        <input type="password" id="signInPassword" class="signIn__password" placeholder="ваш пароль">
        <br>
        
        <input type="submit" class="signIn__submit" value="Войти">
        <div class="signIn__container-link">

            <a href="#" class="signIn__link-registration">Регистрация</a>
            <a href="#" class="signIn__link-changePassowrd">Забыли пароль</a>
        </div>
    </form>
</div>