<div class="signIn">

    <form action="" class="signIn__form">
        <label for="signInLogin" class="signIn__label-login"></label>
        <input type="text" id="signInLogin" class="signIn__login" placeholder="ваш email">
    </form>
</div>