<div class="signIn">
    <form action="/userIn/" class="signIn__form"  method="POST" enctype="application/x-www-form-urlencoded">
    {{!-- enctype="application/x-www-form-urlencoded" --}}
        <p class="signIn__title">Добро пожаловать</p>
        <label for="signInLogin" class="signIn__label-login">Введете email</label>
        <br>
        <input type="text" id="signInLogin" name="signInLogin" class="signIn__login" placeholder="ваш email">
        <br>
        <label for="signInPassword" class="signIn__label-password">Введете пароль</label>
        <br>
        <input type="password" id="signInPassword" name="signInPassword" class="signIn__password" placeholder="ваш пароль">
        <br>
        
        <input type="submit" class="signIn__submit" value="Войти">
        <div class="signIn__container-link">

            <a href="/registration/" class="signIn__link-registration">Регистрация</a>
            <a href="#" class="signIn__link-changePassowrd">Забыли пароль</a>
        </div>
    </form>
</div>
{{#if flagSignInError}}
    <script>
        window.history.back();
        alert('Неверный логин или пароль!');
        //console.log({data});
    </script>
{{/if}}