<div class="views-barter">
    <div class="barter">
        <h1 class="barter__header">Просмотр бартера</h1>
        <h2 class="barter__author">бартер от name surname</h2>
        <div class="stuff-views-views">
            <h2 class="stuff-views__action">Отдаю</h2>
            <h3 class="stuff-views__category">название</h3>
            <h3 class="stuff-views__category"> 
                <span class="stuff-views__category-text">без категории</span>
            </h3>
            <img src="img/category0.png" alt="barter-img" class="stuff-views__image">
        </div>
        <div class="stuff-views">
            <h2 class="stuff-views__action">Хочу получить</h2>
            <h3 class="stuff-views__category">название</h3>
            <h3 class="stuff-views__category">Категория: 
                <span class="stuff-views__category-text">без категории</span>
            </h3>
            <img src="img/category0.png" alt="barter-img" class="stuff-views__image">
        </div>
    </div>
</div>