.footer
    grid-column: 2 / 3
    grid-row: 6 / 7
    display: grid
    grid-template-column: repeat(3, 33%)
    grid-template-rows: repeat(3, 3rem)
    margin-top: 4rem
    background-color: #00BFFF

    & h1 
        width: 100%    