// .header-container
//     display: grid
//     grid-template-columns: [full-start] 1fr  [content-start] minmax(43rem, 136rem) [content-end] 1fr [full-end]
//     grid-template-rows:  8rem
.developer
    position: absolute
    top: 12rem
    left: 2rem
    font-size: 1.6rem
    font-weight: 900
    z-index: 100
    // opacity: 0
    &__WScreen
        color: red
        width: 15rem
    &__scale
        color: green
        width: 15rem
.header
    grid-column: content-start / content-end
    grid-row: 1 / 2
    //width: 100%
    //height: 8rem
    padding: 1rem
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid blue//gray
    //background-color: red
    &__logoAndCity
    &__city
        font-size: 2.2rem
        color: blue
        cursor: pointer
        width: max-content
        text-align: left
.avatar
    cursor: pointer
    &__image
        width: 5rem
        height: 5rem
    &__circleBorder
        width: 5rem
        height: 5rem
        border: 1px solid black
        border-radius: 50%
        background-color: red
        & span
            position: relative
            top: .9rem
            left: 1.4rem
            // top: 50%
            // left: 50%
            //transform: translate(-50%, -50%)
            font-size: 3rem
            color: white

.logo
    font-size: 2rem
    cursor: pointer
    margin-bottom: .5rem
    border-bottom: 1px solid blue
    
    &__title
        color: red
        
    &__title-span
        color: blue
.main-menu
    display: none
    width: 18rem
    height: max-content//12rem
    background-color: #A8A
    position: absolute
    right: 5.5rem
    top: 7rem
    z-index: 100
    padding-bottom: 1.5rem
    @include respond(phone)
        position: fixed
        right: 5.5rem
        width: 18rem
    &__container-close
        display: flex
        justify-content: right
    &__close
        font-size: 2rem
        border: 1px solid red
        cursor: pointer
        &:hover
            border: 1px solid gray
    &__list
        padding-left: 0
        list-style-type: none 
    &__item
        font-size: 1.8rem
        margin-top: 1rem
        text-align: center
        cursor: pointer
        &:hover 
            color: red
.city-block
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 90%
    //width: 60rem
    height: 40rem
    padding: 1rem
    flex-direction: column
    justify-content: start
    align-items: center
    background-color: #AAAAFF
    border: 1px solid black
    border-radius: 2rem
    z-index: 100
    &__close
        position: absolute
        right: 0rem
        top: 0rem
        cursor: pointer
    &__img-close
        width: 4rem
        height: 4rem
    &__not-result
        display: none
        font-size: 1.8rem
        color: black
    &__cont-text
        width: 100%
        margin-left: 10%
        //margin-right: 4rem
    & label
        font-size: 2.4rem
    &__text
        width: 87.5%
        height: 3rem
        font-size: 1.8rem
        padding-left: .5rem
        border-radius: 1rem
        margin-bottom: 2rem
    &__list
        align-self: start
        margin-left: 1.5rem
    &__item
        margin-bottom: .7rem
        font-size: 1.8rem
        color: blue
        cursor: pointer