// .header-container
//     display: grid
//     grid-template-columns: [full-start] 1fr  [content-start] minmax(43rem, 136rem) [content-end] 1fr [full-end]
//     grid-template-rows:  8rem
.header
    grid-column: content-start / content-end
    grid-row: 1 / 2
    //width: 100%
    //height: 8rem
    padding: 1rem
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid blue//gray
    //background-color: red
    &__logoAndCity
    &__city
        font-size: 2.2rem
        color: blue
        cursor: pointer
        width: 10rem
.avatar
    cursor: pointer
    &__image
        width: 5rem
        height: 5rem
.logo
    font-size: 2rem
    cursor: pointer
    &__title
        color: red
        
    &__title-span
        color: blue
.main-menu
    width: 10rem
    height: 12rem
    background-color: #A8A
    position: absolute
    right: 5.5rem
    top: 7rem
    z-index: 100
    &__container-close
        display: flex
        justify-content: right
    &__close
        font-size: 2rem
        border: 1px solid red
        cursor: pointer
        &:hover
            border: 1px solid gray
    &__list
        padding-left: 0
        list-style-type: none 
    &__item
        font-size: 1.6rem
        margin-top: 1rem
        text-align: center
        cursor: pointer
        &:hover 
            color: red