.search
    grid-column: content-start / content-end
    grid-row: 2 / 3
    border-bottom: 1px solid red//gray
    padding-bottom: 1rem
    &__button
        position: relative
        left: 50%
        transform: translateX(-50%)
.search-content
    // grid-column: content-start / content-end
    // grid-row: 2 / 3
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 100%
    margin-bottom: 1.2rem
    @include respond(phone)
        grid-template-columns: 100%
        grid-template-rows: 25rem 22rem
.search-give
    grid-column: 1 / 2
    grid-row: 1 / 2
    border-right: 1px solid gray
    @include respond(phone)
        grid-column: 1 / 2
        grid-row: 1 / 2
        border-right: none
        border-bottom: 1px solid gray
.search-get
    grid-column: 2 / 3
    grid-row: 1 / 2
    @include respond(phone)
        grid-column: 1 / 2
        grid-row: 2 / 3
.search-block
    padding: 1rem
    //width: 50%
    &__title
        font-size: 3.2rem
        margin-bottom: 1.2rem
    &__query
        width: 100%
        height: 3.5rem
        border-radius: 1rem
        margin-top: 1rem 
        margin-bottom: 1rem 
        font-size: 2rem
        padding-left: 1rem
    &__label-query
        width: 20rem
        font-size: 2.6rem
   
    
    &__select
        margin-top: 1rem
        margin-bottom: 2rem
    &__label-category
        font-size: 1.6rem
        // margin-bottom: 2rem
    &__checkbox
        // margin-left: 10rem    
    &__label-checkbox
        font-size: 2rem
    // &_border-right
    //     border-right: 1px solid gray
// .result
//     grid-column: content-start / content-end
//     grid-row: 3 / 4
//     padding: 2rem
// .result-item
//     display: grid
//     width: 63rem
//     height: 30rem
//     grid-template-columns: 27rem 8rem 27rem
//     grid-template-rows: 29rem
//     justify-content: center
//     align-content: center
//     border: 1px solid gray
//     &__exchange-icon
//         grid-column: 2 / 3
//         grid-row: 1 / 2
//         align-self: center
//         width: 8rem
//         height: 8rem
// .stuff-get
//     grid-column: 1 / 2
// .stuff-give
//     grid-column: 3 / 4
// .stuff
//     // width: 30rem
//     // height: 27rem
//     padding: 1rem
//     border: 1px solid gray
//     &__intension
//         font-size: 1.8rem
//         width: 100%
//     &__img
//         width: 100%
//         height: 18rem
//     &__paragraph
//         font-size: 1.4rem

