.search
    grid-column: content-start / content-end
    grid-row: 2 / 3
    border-bottom: 1px solid red//gray
    padding-bottom: 1rem
    &__button
        position: relative
        left: 50%
        transform: translateX(-50%)
        &_disabled
            color: #AAA
.search-content
    // grid-column: content-start / content-end
    // grid-row: 2 / 3
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 100%
    margin-bottom: 1.2rem
    @include respond(phone)
        grid-template-columns: 100%
        grid-template-rows: 25rem 22rem
.search-give
    grid-column: 1 / 2
    grid-row: 1 / 2
    border-right: 1px solid gray
    @include respond(phone)
        grid-column: 1 / 2
        grid-row: 1 / 2
        border-right: none
        border-bottom: 1px solid gray
.search-get
    grid-column: 2 / 3
    grid-row: 1 / 2
    @include respond(phone)
        grid-column: 1 / 2
        grid-row: 2 / 3
.search-block
    padding: 1rem
    //width: 50%
    &__title
        font-size: 3.2rem
        margin-bottom: 1.2rem
    &__query
        width: 100%
        height: 3.5rem
        border-radius: 1rem
        margin-top: 1rem 
        margin-bottom: 1rem 
        font-size: 2rem
        padding-left: 1rem
    &__label-query
        width: 20rem
        font-size: 2.6rem
   
    
    &__select
        margin-top: 1rem
        margin-bottom: 2rem
    &__label-category
        font-size: 1.6rem
        // margin-bottom: 2rem
    &__checkbox
        // margin-left: 10rem    
    &__label-checkbox
        font-size: 2rem
.question-city
    display: none
    position: absolute
    top: 9rem
    left: 5rem
    width: 20rem
    height: 10rem
    padding: 1rem
    padding-top: 2rem
    border: 1px solid green
    background-color: #F80
    border-radius: .8rem
    &__close
        position: absolute
        left: 17.5rem
        top: .1rem
    &__text
        margin-bottom: 1.7rem
        font-size: 1.6rem
    &__cont
        width: 100%
        display: flex
        justify-content: space-between
    & button
        font-size: 1.6rem
        padding: .3rem
    &__ok
    &__select
.link-newBarter
    text-align: center