$colorInputMessage: #CCC
.messanger
    grid-column: content-start / content-end
    grid-rows: 2 / 3
    display: grid
    grid-template-columns: 32rem 1fr //max-content 1fr
    height: calc(100% - 4rem)//75vh
    padding: 0 0rem 1rem 0rem
    border-top: .1rem solid black
    @include respond(messanger)
        grid-template-columns: 1fr 

.contact-select
    grid-column: 1 / 2
    display: grid
    position: sticky
    justify-items: center
    overflow: hidden
    overflow-y: scroll
    scrollbar-width: none
    height: 88vh
    padding-top: 1rem
    border-right: .1rem solid black

    @include respond (messanger)
        width: 100%
        padding-right: 0 
        border-right: none

     
.contact
    display: none
    padding: .5rem
    border: 1px solid black
    border-radius: .7rem
    margin-bottom: 1rem
    min-width: 28.5rem
    width: 90%
    height: 5rem
    // overflow: hidden
   
    &__cont
        // overflow: hidden
        // white-space: no-wrap
        // text-overflow: ellipsis
        // width: 25rem
    &__literal
        width: 3.5rem
        height: 3.5rem
        padding-top: .7rem
        padding-left: 1.1rem
        border-radius: 50%
        margin-right: .6rem
        background-color: green//red
        &>span
            font-size: 2rem
            color: white
    &__name
        margin-bottom: .7rem
    &__preview-text
        font-size: 1.2em
        overflow: hidden
        white-space: no-wrap
        text-overflow: ellipsis
        width: 23.5rem
        height: 1.2rem
.text-block
    padding: 1.0rem 1.0rem 0 1.0rem
    &__info
        display: flex
        align-items: center
        justify-content: space-between
        height: 4rem
        background-color: #EEE
        @include respond(messanger-min)
              justify-content: center
    &__info-back
        width: 4rem
        height: 4rem
    &__info-cont
    &__info-name
        position: relative
        top: -.3rem
        font-size: 1.8rem
        text-align: center
        @include respond(phone-middle)
            font-size: 1.4rem
            top: -.2rem
    &__info-give
        text-align: center
    &__info-menu
        display: block
        width: 4rem
        height: 4rem
    &__cont-hidden
        height: calc(95vh - 7.3rem - 1rem - 4.0rem)
        background-color: white
        overflow: hidden
        overflow-y: scroll
        padding: 1.5rem 1.5rem 0 1.5rem
        
        -ms-overflow-style: none  // IE и Edge 
        scrollbar-width: none  // Firefox

        &::-webkit-scrollbar 
            display: none
        // /* фф (свойство больше не работает, других способов тоже нет)*/
        // overflow: -moz-scrollbars-none
        // -webkit-scrollbar 
        // /* хром, сафари */
        //      width: 0

        // /* ie 10+ */
        // -ms-overflow-style: none

    &__flex-cont
        display: flex
        flex-direction: column
        justify-content: flex-end
        height: max-content
    &__cont2
        background-color:#fFF 
        height: 1rem
        width: 100%
    &__cont
        padding-bottom: 1.5rem
.input-block
    display: flex
    position: fixed
    justify-content: space-between
    align-items: flex-end
    height: 4rem
    left: 1rem
    bottom: 4rem
    bottom: 1rem//5vh//3rem
    border-top-left-radius: 50rem
    border-bottom-left-radius: 50rem
    border-top-right-radius: 50rem
    border-bottom-right-radius: 50rem

    background-color: #FFFFFF00 //$colorInputMessage
    &__input 
        margin-right: .5rem
        padding: 1.1rem .6rem
        border-radius: 1.5rem
        background-color: $colorInputMessage

        font-size: 1.8rem
        overflow: hidden
        &:focus
            outline: .1rem solid  black
    &__button-img
        width: 4rem
        height: 4rem
        border: 2px solid blue
        border-radius: 2rem
       
.text-item
    width: 70%
    padding: 1.2rem 1.2rem .5rem 1.2rem
    border-radius: 1rem
    margin-bottom: .5rem
    &__message
        overflow-wrap: break-word
        font-size: 1.8rem
    &__data
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: .5rem
        height: 2rem
    &__data-time
        font-size: 1.2rem
        color: #222
        font-weight: 700
    &__data-status
        height: 2rem
.day-item
    display: flex
    float: right
    justify-content: center
    align-items: center
    width: 100%
    height: 4.5rem
    margin: .9rem 0
    &__cont
        width: 28rem
        height: 4rem
        border-radius: 1.5rem
        background-color: #AAFFAA66
    &__value
        position: relative
        top: .7rem
        text-align: center

        font-size: 2.4rem
        color: #333333AA
.noaim-send
    float: left
    background-color: #AFA
.aim-send
    float: right
    background-color: #AAF
.new-message
    font-size: 1.3rem
    height: 1.4rem
    font-weight: 900 
        