.messanger
    grid-column: content-start / content-end
    // grid-rows: 2 / 3
    margin-top: 1rem
    padding: 0 1rem 1rem 1rem
    display: grid
    grid-template-columns: 31rem 1fr 
    border-top: .1rem solid black
    @include respond(phone)
        grid-template-columns: 1fr 
.contact-select
    grid-column: 1 / 2
    width: 31rem
    height: 100vh
    padding-right: 1rem
    padding-top: 1rem
    border-right: .1rem solid black
    @include respond (phone)
        width: 100%
        padding-right: 0 
        border-right: none

     
.contact
    display: flex
    padding: .5rem
    border: 1px solid black
    border-radius: .7rem
    margin-bottom: 1rem
   
   
    &__cont
        // overflow: hidden
        // white-space: no-wrap
        // text-overflow: ellipsis
        // width: 25rem
    &__literal
        width: 3.5rem
        height: 3.5rem
        padding-top: .7rem
        padding-left: 1rem
        border-radius: 50%
        margin-right: .6rem
        background-color: green//red
        &>span
            font-size: 2rem
            color: white
    &__name
        margin-bottom: .7rem
    &__preview-text
        font-size: 1.2em
        overflow: hidden
        white-space: no-wrap
        text-overflow: ellipsis
        width: 23.5rem
        height: 1.2rem
.text-block
    @include respond(nophone)
        grid-column: 2 / 3
        width: 100%
        padding: 0 1.5rem 1.5rem 1.5rem
    @include respond(phone)
        display: none
        width: 0%
.text-item
    width: 70%
    padding: 1.2rem
    margin-top: 1rem
    border-radius: 1rem
    &__message
        word-break: break-all
        font-size: 1.8rem

.noaim-send
    float: left
    background-color: #AFA
.aim-send
    float: right
    background-color: #AAF
        