.myBarter
    grid-column: content-start / content-end
    grid-row: 2 / 3
    display: grid
    grid-template-rows: 1rem
    justify-content: center
    padding: 2rem
    // min-height: 100vh
    // &-title
    //     grid-column: 2 / 3
    //     grig-row: 1 / 2
    //     font-size: 3rem
    
