.recoverPassword
    grid-column: 2 / 3
    grid-row: 2 / 3
    display: grid
    padding: 1rem
    &__header
        margin-bottom: 5rem
.enterEmail
    width: 30rem
    height: 5rem
    justify-self: center
    align-self: center
    padding: .5rem
    border: 1px solid black
    border-radius: 1rem
    &__label
        font-size: 1.6rem
    &__email
        width: 20rem
