.recoverPassword
    grid-column: 2 / 3
    grid-row: 2 / 3
    display: grid
    padding: 1rem
    &__header
        margin-bottom: 5rem
.enterEmail
    display: none
    width: 28.5rem
    height: 5rem
    justify-self: center
    align-self: center
    padding: .5rem
    border: 1px solid black
    border-radius: 1rem
    &__label
        font-size: 1.6rem
        font-weight: 900
    &__email
        width: 20rem
.enterCode
    display: none
    width: 28.5rem
    height: 10rem
    justify-self: center
    align-self: center
    padding: 1rem
    border: 1px solid black
    border-radius: 1rem
    &__text
        margin-bottom: .8rem
        font-size: 1.6rem
    &__label
        font-size: 1.6rem
        font-weight: 900
.newPassword
    display: block
    width: 28.5rem
    height: 13rem
    justify-self: center
    align-self: center
    padding: 1rem
    border: 1px solid black
    border-radius: 1rem
    & input[type='password']
        width: 24rem
        margin-bottom: .8rem
    & label
        font-size: 1.6rem
        font-weight: 900